body.fondo {
    background-color: salmon;
}
   
section.eth {
    background-color: white;
}
p.pie {
    background-color: yellow;
}
span.cristian {
    color: red;

}
p.azul {
    color: blue;
}
input.rojo {
    color: red;
}