body.fondo {
    background-color: salmon;
}

p.cripto {
    font-style: italic;
    
}

section.eth {
    background-color: white;
}
span.pie {
    background-color: yellow;
}
p.cristian {
    color: red;
}
